asgiref==3.8.1
boto3==1.38.3
botocore==1.38.3
certifi==2023.11.17
chardet==4.0.0
dj-database-url==2.3.0
Django==5.0.6
django-cors-headers==4.7.0
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
idna==2.10
jmespath==1.0.1
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.25.1
s3transfer==0.12.0
six==1.17.0
sqlparse==0.5.0
termcolor==1.1.0
tk==0.1.0
typing_extensions==4.13.2
tzdata==2024.1
urllib3==1.26.18
whitenoise==6.9.0
